<div class="modal-header">
    <h4 class="modal-title">{{my_modal_title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body" style="text-align: center;">
    <p> {{my_modal_content}}</p>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p> {{my_modal_comment}}</p>
  </div> -->
  <div class="modal-body" style="text-align: center;">
  
  <table *ngFor="let item of array"class="modal-body" style="text-align: center; margin-left:auto;margin-right:auto;">
    <td style="text-align: center; padding-top: 25%;">{{item?.title }}</td>
    <tr style="text-align: center;">{{item?.comment}}</tr>
    <!-- <td>{{item?.address}}</td> -->
  </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" style="background-color: red; color: white;"(click)="deleteEvent( date)" >Delete All Event</button>
    <button type="button" class="btn btn-outline-dark" style="background-color: green; color:white;" (click)="openAddEvent(my_modal_title, date)">Add Event</button>
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Edit Event</button> -->
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>