<app-nav-menu></app-nav-menu>
<form class ="form-signin" #loginForm ="ngForm" (ngSubmit)="login(loginForm)">
    <div class ="container-fluid">
        <h2 class= "form-signin-heading">Login</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger"> Invalid username or password. </div>
        <br/>
        <label for="username" class="sr-only">Login</label>
        <input type="username" id ="username" name="username" ngModel class="form-control" placeholder="username">
        <br/>
        <input type="password" id ="password" name="password" ngModel class="form-control" placeholder="Password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign In</button>
     

        
    </div>
  
    <!-- <div>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav ml-auto" *ngIf="!user">
          <li class="nav-item">
            <a (click)="signInWithGoogle()" class="nav-link">Sign in with google</a>
          </li>
        </div>
        <div class="navbar-nav ml-auto" *ngIf="user">
        <span class="navbar-text">
         {{ user.email }}
        </span>	
          <li class="nav-item">
            <a class="nav-link" (click)="signOut()">Logout</a>
          </li>
        </div>	  
      </nav>
      </div> -->
</form>
<div>
  <br/>
  <h3>Social Sign-In</h3>
  

  <button class="col s12 m6 offset-m3 center-align" style="box-shadow: 0 2px 5px 0 #333333, 0 8px 12px 0 #333333; width:12%; color:white" (click) ='signInWithGoogle()'>
    <div class="oauth-container btn darken-4 white black-text"  style="text-transform:none">
        <div class="left" style="display: inline-block;">
            <img width="20px" style="" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        </div>
        Sign in with Google
      </div>
  </button>

  </div>
